.navbar-brand{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: upper-roman;
}
.container{
    
}
.pic{
    width: 400px;
    height: 400px;
    margin-left: 340px;
     border-radius: 40px;
}
p{
    width: 900px;
    padding-left: 90px;
}
.about-usl{
    font-weight: 900;
}